@tailwind base;
@tailwind components;
@tailwind utilities;

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: translateY(-100%);
  transition: all 0.2s ease;
  margin-top: 90px;
  opacity: 0;
}

.active-menu {
  transform: translateY(0%);
  opacity: 1;
}

.hamburger-react {
  z-index: 99;
}

.container-table {
  display: grid;
  grid-template-columns: 0.9fr 1.5fr 0.6fr;
  grid-template-rows: 0.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "container-image container-title container-price";
  padding: 10px;
}

.container-image {
  grid-area: container-image;
}

.container-title {
  grid-area: container-title;
}

.container-price {
  grid-area: container-price;
}

.menu,
.active-menu {
  overflow: hidden;
}
